{% extends "esp_game/base.html" %}

{% block head_scripts %}
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script>
	var socket = io('{{ socketURL }}');
	var channel = "{{ game.id }}"
	var status = "{{ status }}"
	socket.emit('join', {channel: channel});
	if(status == 'paired') {
		socket.emit('paired_server', {question: "{{ question.id }}", heading: "{{ heading }}"});
	}
	socket.on("paired", function(data) {
		var heading = data.heading
		var url_mask = "{% url 'esp_game:ajax_get_question' 12345 %}".replace(/12345/, data.question.toString());
		$.get( url_mask)
			.done(function( data ) {
				var newForm = generate_form(data.question)
				$("#heading").text(heading);
				$("#heading").after(newForm)
			});
	});
	socket.on("player_waiting", function() {
		$(".alert").html("<h5 id='message'>Opponent submitted his answer</h5>");
	});
	socket.on("answers_match", function(data) {
		alert("Answers Matched!")
		var url_mask = "{% url 'esp_game:ajax_get_question' 12345 %}".replace(/12345/, data.newQuestion.toString());
		$.get( url_mask)
			.done(function( data ) {
				var newForm = generate_form(data.question)
				$("#makeChoice").replaceWith(newForm)
				$("#message").remove()
			});
	});
	socket.on("match_fail", function() {
		alert("Answers didn't match, try again")
		$("#message").remove()
		$("#makeChoice").trigger('reset');
		$("#makeChoice div").last().after('<input type="submit" value="Submit" id="submit" class="btn btn-primary">')
	});
	socket.on("player_disconnect", function(data) {
		alert("Opponent disconnected from the game, the game will now end");
		var url_mask= "{% url 'esp_game:index' %}"
		window.location.replace(url_mask);
	});

	$(document).ready(function() {
		$("body").on('submit', '#makeChoice', function (event) {
			event.preventDefault();
			var playerChoice = $("#makeChoice").serializeArray()[0].value
			var questionId = $("#question").attr("value")
			var req_data = {
				'playerChoice': playerChoice,
				'questionId': questionId,
				'csrfmiddlewaretoken': '{{ csrf_token }}'
			}
			$.post( "{% url 'esp_game:ajax_submit_choice' %}", req_data)
				.done(function( data) {
					$("#submit").remove()
					if(data.status == "404") {
						alert("The game was disconnected")
						var url_mask= "{% url 'esp_game:index' %}"
						window.location.replace(url_mask);
					}else if (data.status == "wait") {
						$(".alert").html("<h5 id='message'>Waiting for opponent</h5>");
						socket.emit('player_waiting_server', {channel: channel});
					} else if(data.status == "match") {
						socket.emit('answers_match_server', {channel: channel, newQuestion: data.newQuestion});
					} else if(data.status == "fail") {
						socket.emit('match_fail_server', {channel: channel});
					}
				});
		});
	})

	var generate_form = function(question) {
		var data = question
		var newForm = '<form action="#" id="makeChoice">\
				<div class="row">\
					<div class="col-md-3"></div>\
					<div class="col-md-6">\
						<img id="question" src="'+ data.primaryImage +'" alt="Primary Image" value="'+ data.id +'" class="primaryImage img-responsive">\
					</div>\
					<div class="col-md-3"></div>\
				</div>\
				<br>\
				<div class="row">\
					<div class="col-md-4">\
						<label class="radio-img">\
							<input type="radio" name="playerChoice" value="'+ data.secondaryImage1[0] +'"><img src="'+ data.secondaryImage1[1] +'" alt="Secondary Image 1" class="secondaryImage img-responsive">\
						</label>\
					</div>\
					<div class="col-md-4">\
						<label class="radio-img">\
							<input type="radio" name="playerChoice" value="'+ data.secondaryImage2[0] +'"><img src="'+ data.secondaryImage2[1] +'" alt="Secondary Image 2" class="secondaryImage img-responsive">\
						</label>\
					</div>\
					<div class="col-md-4">\
						<label class="radio-img">\
							<input type="radio" name="playerChoice" value="'+ data.secondaryImage3[0] +'"><img src="'+ data.secondaryImage3[1] +'" alt="Secondary Image 3" class="secondaryImage img-responsive">\
						</label>\
					</div>\
				</div>\
				<input type="submit" value="Submit" id="submit" class="btn btn-primary">\
			</form>'
		return newForm
	}
</script>
{% endblock %}

{% block body_custom %}
	<div class="inner cover">
		<h1 id="heading" class="cover-heading">{{ heading }}</h1>
			{% if status == 'paired' %}
			<form action="#" id="makeChoice">
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<img id="question" src="{{ question.primaryImage.url }}" alt="Primary Image" value="{{ question.id }}" class="primaryImage img-responsive">
					</div>
					<div class="col-md-3"></div>
				</div>	
				<br>
				<div class="row">
					<div class="col-md-4">
						<label class="radio-img">
							<input type="radio" name="playerChoice" value="{{ question.secondaryImage1.id }}"><img src="{{ question.secondaryImage1.url }}" alt="Secondary Image 1" class="secondaryImage img-responsive">
						</label>
					</div>
					<div class="col-md-4">
						<label class="radio-img">
							<input type="radio" name="playerChoice" value="{{ question.secondaryImage2.id }}"><img src="{{ question.secondaryImage2.url }}" alt="Secondary Image 2" class="secondaryImage img-responsive">
						</label>
					</div>
					<div class="col-md-4">
						<label class="radio-img">
							<input type="radio" name="playerChoice" value="{{ question.secondaryImage3.id }}"><img src="{{ question.secondaryImage3.url }}" alt="Secondary Image 3" class="secondaryImage img-responsive">
						</label>
					</div>
				</div>

				<input type="submit" value="Submit" id="submit" class="btn btn-primary">
			</form>
			{% endif %}
	</div>

{% endblock %}