{% extends "esp_game/base.html" %}

{% block head_scripts %}
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script>
	var socket = io('{{ socketURL }}');
	var channel = "{{ game.id }}"
	socket.emit('join', {channel: channel});
	socket.on("new_msg", function(data) {
		alert(data.msg);
	});
	socket.on("player_waiting", function() {
		$("h1").append("<h1 id='message'>Opponent submitted his answer</h1>");
	});
	socket.on("answers_match", function(data) {
		alert("Answers Matched!")
		var url_mask = "{% url 'esp_game:ajax_get_question' 12345 %}".replace(/12345/, data.newQuestion.toString());
		$.get( url_mask)
			.done(function( data ) {
				var data = data.question
				var newForm = '<form action="#" id="makeChoice"><img id="question" src="'+ data.primaryImage +'" alt="Primary Image" value="'+ data.id +'"><input type="radio" name="playerChoice" value="'+ data.secondaryImage1[0] +'"><img src="'+ data.secondaryImage1[1] +'" alt="Secondary Image 1"><input type="radio" name="playerChoice" value="'+ data.secondaryImage2[0] +'"><img src="'+ data.secondaryImage2[1] +'" alt="Secondary Image 2"><input type="radio" name="playerChoice" value="'+ data.secondaryImage3[0] +'"><img src="'+ data.secondaryImage3[1] +'" alt="Secondary Image 3"><input type="submit" value="Submit" id="submit"></form>'

				$("#makeChoice").replaceWith(newForm)
				$("#message").remove()
			});
	});
	socket.on("match_fail", function() {
		alert("Answers Didn't match, try again")
		$("#message").remove()
		$("#makeChoice").trigger('reset');
		$("#makeChoice img").last().after('<input type="submit" value="Submit" id="submit">')
	});

	$(document).ready(function() {
		$("body").on('click', '#submit', function (event) {
			event.preventDefault();
			$("#submit").remove()
			var playerChoice = $("input:radio[name=playerChoice]").val()
			var questionId = $("#question").attr("value")
			var req_data = {
				'playerChoice': playerChoice,
				'questionId': questionId,
				'csrfmiddlewaretoken': '{{ csrf_token }}'
			}
			$.post( "{% url 'esp_game:ajax_submit_choice' %}", req_data)
				.done(function( data ) {
					if(data.status == "wait") {
						$("h1").append("<h1 id='message'>Waiting for opponent</h1>");
						socket.emit('player_waiting_server', {channel: channel});
					} else if(data.status == "match") {
						socket.emit('answers_match_server', {channel: channel, newQuestion: data.newQuestion});
					} else if(data.status == "fail") {
						socket.emit('match_fail_server', {channel: channel});
					}
				});
		});
	})
</script>
{% endblock %}

{% block body_custom %}
<h1>lets play</h1>

<form action="#" id="makeChoice">
	<img id="question" src="{{ question.primaryImage.url }}" alt="Primary Image" value="{{ question.id }}">

	<input type="radio" name="playerChoice" value="{{ question.secondaryImage1.id }}"><img src="{{ question.secondaryImage1.url }}" alt="Secondary Image 1">
	<input type="radio" name="playerChoice" value="{{ question.secondaryImage2.id }}"><img src="{{ question.secondaryImage2.url }}" alt="Secondary Image 2">
	<input type="radio" name="playerChoice" value="{{ question.secondaryImage3.id }}"><img src="{{ question.secondaryImage3.url }}" alt="Secondary Image 3">

	<input type="submit" value="Submit" id="submit">
</form>


<a href="{% url 'esp_game:index' %}">Index</a>
{% endblock %}